@model IEnumerable<MyWeb.Models.WenZhang>
@{Layout = null;}
<div class="mui-content-padded">
    <h4 style="margin-top:20px;">美文介绍</h4>
    <p>
        这款APP是自己学习web而做的，开始学习web后才知道牵扯很多知识点，如：Html5、Css、Js、服务端Mvc等。
    </p>
    <p>
        前端采用了mui框架，这是一个可以方便开发出高性能App的框架，也是目前最接近原生App效果的框架。
    </p>
    <h4>新手指南</h4>
    <p>
        若想详细了解Hello MUI的源码及工作原理，可从<a href="http://www.dcloud.io">Dcloud官网</a>下载Hbuilder，选择新建“移动APP”，并选择“Hello MUI”工程模板，创建工程；然后通过数据线将手机连接上电脑，点击运行，就可以在手机上体验MUI的各项能力。
    </p>
    <p>
        若要使用MUI进行移动APP开发，可通过Hbuilder，新建“移动APP”，并选择“MUI”工程模板，该模板已内置MUI相关的资源文件。
    </p>
    <p>更多详细介绍，请到<a href="http://dcloudio.github.io/mui">mui官网</a>查看；</p>
    <h4>版本介绍</h4>
    <p>当前版本为2.6.0，可到<a href="https://github.com/dcloudio/mui">Github</a>上获取最新版本。</p>
    <h4>License</h4>
    <p>
        mui遵循MIT License，源码已提交至Github，<a href="https://github.com/dcloudio/mui">点击查看</a>;
    </p>
</div>
