/*重写列表图片居中，边框，大小*/
.mui-table-view .mui-media-object {
    line-height: 75px;
    max-width: 90px;
    min-width: 90px;
    max-height: 75px;
    min-height: 75px;
    height: 75px;
    border: 1px solid #DADADA;
    text-align: center;
    margin: -4px 0;
}

/*重写字体*/
.mui-font {
    font-size: 16px;
    font-weight: 500;
    color: #84a9e0;
    font-weight: bold;
}
/*重写列表低边框右侧没有缩进问题*/
.mui-table-view-cell:after {
    right: 15px;
}


/*底部加载动画*/
.list_loading {
    height: 16px;
    padding: 20px 0 40px;
    text-align: center;
}

    .list_loading span {
        height: 16px;
        display: inline-block;
        line-height: 16px;
        vertical-align: middle;
        color: #A0A0A0;
        font-family: "arial", "微软雅黑";
        color: #535353;
        font-size: 14px;
    }

    .list_loading i {
        height: 16px;
        width: 16px;
        display: inline-block;
        background: url('icons.png') no-repeat -288px -16px;
        background-size: 500px 500px;
        margin-right: 10px;
        vertical-align: middle;
        -webkit-animation: loading 1s infinite linear;
        -ms-animation: loading 1s infinite linear;
        -o-animation: loading 1s infinite linear;
        -moz-animation: loading 1s infinite linear;
        animation: loading 1s infinite linear;
    }

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*旋转动画*/
.wrap {
    width: 64px;
    height: 64px;
    position: relative;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.outer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(icon-spin-s.png) no-repeat;
    animation: spin 800ms infinite linear;
}

.inner, .inner2 {
    position: absolute;
    width: 38px;
    height: 38px;
    border-radius: 40px;
    overflow: hidden;
    left: 13px;
    top: 13px;
}

.inner {
    opacity: 1;
    background-color: #89abdd;
    animation: second-half-hide 1.6s steps(1, end) infinite;
}

.inner2 {
    opacity: 0;
    background-color: #4b86db;
    animation: second-half-show 1.6s steps(1, end) infinite;
}

.spiner, .filler, .masker {
    position: absolute;
    width: 50%;
    height: 100%;
}

.spiner {
    border-radius: 40px 0 0 40px;
    background-color: #4b86db;
    transform-origin: right center;
    animation: spin 800ms infinite linear;
    left: 0;
    top: 0;
}

.filler {
    border-radius: 0 40px 40px 0;
    background-color: #4b86db;
    animation: second-half-hide 800ms steps(1, end) infinite;
    left: 50%;
    top: 0;
    opacity: 1;
}

.masker {
    border-radius: 40px 0 0 40px;
    background-color: #89abdd;
    animation: second-half-show 800ms steps(1, end) infinite;
    left: 0;
    top: 0;
    opacity: 0;
}

.inner2 .spiner, .inner2 .filler {
    background-color: #89abdd;
}

.inner2 .masker {
    background-color: #4b86db;
}

@keyframes spin {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes second-half-hide {
    0% {
        opacity: 1;
    }

    50%, 100% {
        opacity: 0;
    }
}

@keyframes second-half-show {
    0% {
        opacity: 0;
    }

    50%, 100% {
        opacity: 1;
    }
}
/*<div class="wrap">
        <div class="outer"></div>
        <div class="inner">
            <div class="spiner"></div>
            <div class="filler"></div>
            <div class="masker"></div>
        </div>
        <div class="inner2">
            <div class="spiner"></div>
            <div class="filler"></div>
            <div class="masker"></div>
        </div>
</div>*/
/*********/
