<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Mui/mui.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Mui/mystyle.css" />
</head>
<body>

    @RenderBody()

</body>
</html>
