<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*Mui样式*@
    <link rel="stylesheet" type="text/css" href="~/css/mui.min.css" />
    @*自定义样式*@
    <link rel="stylesheet" type="text/css" href="~/css/mystyle.css" />
    @*阿里字体样式*@
    <link rel="stylesheet" type="text/css" href="~/css/iconfont.css" />
</head>
<body>
    @RenderBody()
</body>
</html>
